<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>HMFF 5 - RUNNING RED LIGHTS (2012)</string>
		<key>url</key>
		<string>http://www.youtube-nocookie.com/embed/d-xyQGn1wXo?rel=0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HMFF 5 - JUMPLE (2012)</string>
		<key>url</key>
		<string>http://www.youtube-nocookie.com/embed/Dp4tZKztCaI</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HMFF 5 - WEEKEND RIOT CLUB: Again &amp; Again (2012)</string>
		<key>url</key>
		<string>http://www.youtube-nocookie.com/embed/jXTERlktBjQ</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HMFF 5 - TWO CROWN KING (2012)</string>
		<key>url</key>
		<string>http://www.youtube-nocookie.com/embed/XCsqbSXzdXk</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HMFF 5 - GRAYDON JAMES &amp; THE YOUNG NOVELISTS (2012)</string>
		<key>url</key>
		<string>http://www.youtube-nocookie.com/embed/YBFPJNxwq6I</string>
	</dict>
</array>
</plist>
